---
layout: page
title: "Mayıs 2015"
subtitle: "Mayıs 2015 takvimi"
permalink: "/etkinlikler/2015/mayis/"
header-img: "images/bg/contact-bg.jpg"
---

{% assign sorted_calendar = site.data.calendar | calendar: "2015-05" %}
<div class="calendar">
    <h1>{{ sorted_calendar.first.start_date| localize: "%B %Y" }} Etkinlikleri</h1>
    <hr/>
{% for event in sorted_calendar %}
    <div class="calendar-item">
        <h2>{{ event.title }}</h2>
        <h3>
        {% if event.end_time %}
            {{ event.start_date | localize: "%-d %B %Y, %A %H:%M" }} - {{ event.end_time | localize: "%H:%M" }}
        {% else %}
            {{ event.start_date | localize: "%-d %B %Y, %A" }} - {{ event.end_date | localize: "%-d %B %Y, %A" }}
        {% endif %}
        </h3>
        {{ event.description | markdownify }}
        {{ event.venue | markdownify}}
        <hr/>
    </div>
{% endfor %}
</div>